<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body>
    <%- include('partials/navbar') %>
    <div class="container">
      <h1>The Subreddit Home Page</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius accusamus
        illo, impedit iusto blanditiis ipsum distinctio cum sit animi possimus?
        Veritatis earum unde hic quas deleniti molestias animi cumque nulla.
      </p>
    </div>
  </body>
</html>
